/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
    background-color: #2e2e2e;
    color: #e0e0e0;
}

header {
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    position: absolute;
    top: 10px;
    left: 10px;
}

nav button {
    margin-right: 10px;
    padding: 10px;
    border: none;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background-color: #777;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

/* Light Mode */
body.light-mode {
    background-color: #fff;
    color: #333;
}

header.light-mode {
    background-color: #ddd;
    color: #333;
}

nav button.light-mode {
    background-color: #ddd;
    color: #333;
}

nav button.light-mode:hover {
    background-color: #ccc;
}
